<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'component/header.html'%}

    <script>
      function is_nickname(asValue) {
        var regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{2,10}$/;
        return regExp.test(asValue);
      }

      function is_password(asValue) {
        let regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
        return regExp.test(asValue);
      }

      function register() {
        let email = $("#email").val();
        let password = $("#password").val();
        let confirmPassword = $("#confirmPassword").val();
        let isChecked = $("#checkInput").prop("checked");

        if (email === "") {
          $("#helpEmail")
            .text("Please enter your email!")
            .removeClass("is-safe")
            .addClass("is-danger");
          $("#email").focus();
          return;
        }

        if (email != "") {
          $("#helpEmail").text("").removeClass("is-safe").addClass("is-danger");
        }

        if (is_nickname(email)) {
          $("#helpEmail")
            .text("Please enter your email!")
            .removeClass("is-safe")
            .addClass("is-danger");
          $("#email").focus();
          return;
        }

        if (password === "") {
          $("#helpPassword")
            .text("Please enter your password!")
            .removeClass("is-safe")
            .addClass("is-danger");
          $("#password").focus();
          return;
        }

        if (password != "") {
          $("#helpPassword")
            .text("")
            .removeClass("is-safe")
            .addClass("is-danger");
        }

        if (!is_password(password)) {
          $("#helpPassword")
            .text(
              "Password must be 8-20 characters, numbers, or special characters (!@#$%^&*)!"
            )
            .removeClass("is-safe")
            .addClass("is-danger");
          $("#password").focus();
          return;
        }

        if (confirmPassword === "") {
          $("#helpConfirmPassword")
            .text("Please enter Confirm Password!")
            .removeClass("is-safe")
            .addClass("is-danger");
          $("#confirmPassword").focus();
          return;
        }

        if (confirmPassword != "") {
          $("#helpConfirmPassword")
            .text("")
            .removeClass("is-safe")
            .addClass("is-danger");
        }

        if (confirmPassword != password) {
          $("#helpConfirmPassword")
            .text("Password does not match!")
            .removeClass("is-safe")
            .addClass("is-danger");
          $("#confirmPassword").focus();
          return;
        }

        if (!isChecked) {
          Swal.fire({
            icon: "info",
            title: "",
            text: "Please click agree to terms & conditions",
            confirmButtonText: "Oke",
            customClass: {
              title: "text-xl font-bold text-black dark:text-white",
              content: "text-sm text-gray-700 dark:text-white",
              confirmButton:
                "px-6 py-2 rounded-lg text-white bg-cyan-500 hover:bg-cyan-600 focus:outline-none dark:bg-cyan-900 dark:hover:bg-cyan-600 dark:focus:ring-cyan-900 dark:hover:text-white",
              popup:
                "bg-gray-100 dark:bg-gray-900 border-none rounded-lg shadow-lg",
            },
          }).then(() => {
            if (result.isConfirmed) {
              return;
            }
          });
          return;
        }

        $.ajax({
          type: "POST",
          url: "/forget-password-check",
          data: {
            email: email,
            password: password,
          },
          success: function (response) {
            if (response["result"] == "success") {
              Swal.fire({
                title: "Change Password Success!",
                text: `${response["msg"]}`,
                icon: "success",
                confirmButtonText: "Oke",
                customClass: {
                  title: "text-xl font-bold text-black dark:text-white",
                  content: "text-sm text-gray-700 dark:text-white",
                  confirmButton:
                    "px-6 py-2 rounded-lg text-white bg-cyan-500 hover:bg-cyan-600 focus:outline-none dark:bg-cyan-900 dark:hover:bg-cyan-600 dark:focus:ring-cyan-900 dark:hover:text-white",
                  popup:
                    "bg-gray-100 dark:bg-gray-900 border-none rounded-lg shadow-lg",
                },
              }).then((result) => {
                if (result.isConfirmed) {
                  window.history.back();
                }
              });
            } else {
              Swal.fire({
                title: "Change Password Failed!",
                text: `${response["msg"]}`,
                icon: "info",
                confirmButtonText: "Oke",
                customClass: {
                  title: "text-xl font-bold text-black dark:text-white",
                  content: "text-sm text-gray-700 dark:text-white",
                  confirmButton:
                    "px-6 py-2 rounded-lg text-white bg-cyan-500 hover:bg-cyan-600 focus:outline-none dark:bg-cyan-900 dark:hover:bg-cyan-600 dark:focus:ring-cyan-900 dark:hover:text-white",
                  popup:
                    "bg-gray-100 dark:bg-gray-900 border-none rounded-lg shadow-lg",
                },
              }).then((result) => {
                if (result.isConfirmed) {
                  $("#helpEmail")
                    .text("Email has been used!")
                    .removeClass("is-safe")
                    .addClass("is-danger");
                  $("#email").focus();
                }
              });
            }
          },
        });
      }
    </script>
  </head>
  <body>
    <div
      class="min-h-screen flex items-center justify-center bg-gray-100 dark:bg-gray-950"
    >
      <div
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="1000"
        class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-900 dark:border-gray-700"
      >
        <form class="space-y-6" action="#">
          <h5 class="text-xl font-medium text-gray-900 dark:text-white">
            Create New Password For Account
          </h5>
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="bg-gray-50 border border-cyan-500 text-gray-900 text-sm rounded-lg focus:ring-cyan-500 focus:border-cyan-500 block w-full p-2.5 dark:bg-gray-800 dark:border-cyan-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-cyan-600 dark:focus:border-cyan-600"
              placeholder="name@company.com"
            />
            <p
              id="helpEmail"
              class="help is-hidden text-sm mt-1 text-gray-500 dark:text-gray-500"
            ></p>
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >New password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="bg-gray-50 border border-cyan-500 text-gray-900 text-sm rounded-lg focus:ring-cyan-500 focus:border-cyan-500 block w-full p-2.5 dark:bg-gray-800 dark:border-cyan-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-cyan-600 dark:focus:border-cyan-600"
            />
            <p
              id="helpPassword"
              class="help is-hidden text-sm mt-1 text-gray-500 dark:text-gray-500"
            >
              Password must be 8-20 characters, numbers, or special characters
              (!@#$%^&*)!
            </p>
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Confirm password</label
            >
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              placeholder="••••••••"
              class="bg-gray-50 border border-cyan-500 text-gray-900 text-sm rounded-lg focus:ring-cyan-500 focus:border-cyan-500 block w-full p-2.5 dark:bg-gray-800 dark:border-cyan-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-cyan-600 dark:focus:border-cyan-600"
            />
            <p
              id="helpConfirmPassword"
              class="help is-hidden text-sm mt-1 text-gray-500 dark:text-gray-500"
            >
              Make sure the password entered is correct
            </p>
          </div>
          <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
            <p class="cursor-default">
              <input
                type="checkbox"
                class="mr-2 peer dark:bg-gray-700 dark:border-cyan-700 checked:peer-checked:bg-cyan-700 checked:peer-checked:border-cyan-500"
                id="checkInput"
              />
              I agree to all
              <a
                class="group text-cyan-500 transition-all duration-100 ease-in-out"
                href="#"
              >
                <span
                  class="cursor-pointer bg-left-bottom bg-gradient-to-r from-cyan-500 to-cyan-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
                >
                  Terms
                </span>
              </a>
              and
              <a
                class="group text-cyan-500 transition-all duration-100 ease-in-out"
                href="#"
              >
                <span
                  class="cursor-pointer bg-left-bottom bg-gradient-to-r from-cyan-500 to-cyan-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
                >
                  Privacy Policy
                </span>
              </a>
            </p>
          </div>
          <div class="flex justify-between gap-4">
            <button
              type="button"
              onclick="register()"
              class="w-full sm:w-auto text-white bg-cyan-500 hover:bg-cyan-600 focus:ring-4 focus:outline-none focus:ring-cyan-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-cyan-900 dark:hover:bg-cyan-600 dark:focus:ring-cyan-900"
            >
            Update to new Password
            </button>
            <button
              type="button"
              onclick="window.history.back()"
              class="w-full sm:w-auto text-cyan-500 border border-cyan-500 hover:border-cyan-700 hover:text-cyan-700 focus:ring-4 focus:outline-none focus:ring-cyan-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-cyan-700 dark:hover:text-cyan-500 dark:border-cyan-700 dark:hover:border-cyan-500 dark:focus:ring-cyan-700"
            >
              Back to Login
            </button>
          </div>
        </form>
      </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
