Flask==3.1.2
Flask_Cors==5.0.0
Flask_SocketIO==5.5.1
eventlet==0.38.2
joblib==1.4.2
matplotlib==3.10.8
numpy==2.4.1
pandas==2.3.3
pydantic==2.12.5
PyJWT==2.10.1
pymongo==4.16.0
python-dotenv==1.2.1
scikit_learn==1.8.0
scipy==1.17.0
gunicorn==23.0.0
certifi>=2023.0.0