<!-- Similar -->
<section
  class="bg-cyan-500 dark:bg-cyan-900 text-white p-4 rounded-lg shadow-md h-[200px] flex flex-col"
>
  <h2 class="text-base font-bold mb-2">Similar Patients</h2>
  <div class="flex-1 flex flex-col items-center justify-center">
    <!-- Grafik -->
    <div class="w-full h-[100px]">
      <canvas id="similarPatients"></canvas>
    </div>
  </div>
  <p class="text-xs text-center mt-2">Diagnosis for diseases and illness</p>
</section>

<script>
  function initializeSimilarPatientsChart() {
    const similarPatientsCtx = $("#similarPatients")[0].getContext("2d");
    const similarPatientsChart = new Chart(similarPatientsCtx, {
      type: "line",
      data: {
        labels: Array.from({ length: 15 }, () => ""),
        datasets: [
          {
            borderColor: "white",
            backgroundColor: "transparent",
            pointRadius: 0,
            tension: 0.4,
            data: Array.from({ length: 15 }, () => 75),
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: { display: false },
        },
        scales: {
          x: { display: false },
          y: { display: false },
        },
      },
    });
    return { similarPatientsChart }; 
  }

  document.addEventListener("DOMContentLoaded", () => {
    const { similarPatientsChart } = initializeSimilarPatientsChart();

    setInterval(() => {
      const sofaScoreData = JSON.parse(localStorage.getItem("sofaScoreData")) || [];
      if (Array.isArray(sofaScoreData)) {
        similarPatientsChart.data.datasets[0].data = sofaScoreData;
        similarPatientsChart.update();
      }
    }, 10);
  });
</script>
